<a href="https://colab.research.google.com/github/nurfnick/Discrete_Math/blob/master/Online/ProjectPart7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 7 : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Logic

### Me!

## 1 Logic

I will establish some propositions about my daily activities.

In [ ]:
WillGoToBedEarly = True
WillEatHealthy = False
WillGoToTheGym = True
WillTakeALongBath = False
WillCleanTheKitchen = True
WillFoldLaundry = False

Please don't use mine!!!  Make up your own, be creative!  I will not give full marks for my work!!!

$$\lnot q$$

In [ ]:
not(WillGoToBedEarly)

False

$$q \land p$$

In [ ]:
WillCleanTheKitchen and WillGoToTheGym

True

$$ q \lor p$$

In [ ]:
WillEatHealthy or WillCleanTheKitchen

True

I don't see a clever way to do $p\Rightarrow q$ so I'll do the equivalent 
$ \lnot p \lor q$ and make my own function to do it!

In [ ]:
def implies(p,q):
  return not(p) or q

implies(WillEatHealthy,WillCleanTheKitchen)

True

I have the same issue with XOR, there is not a build in the python logical but there is one in the python bitwise logical `^`

In [ ]:
print(True ^ False)
print(False ^ False)
print(True ^ True)

True
False
False

You may use this one or try to define your own function that does it, $a\oplus b \equiv \left(a\land \lnot b\right)\lor \left(\lnot a \land b\right)$.   Just be aware that passing integers to the `^` will do unexpected things!

In [ ]:
2^8

10

To develop the truth tables, I'll need to start with propositions not initialized to already have a truth value.  Let's play with the truth table for
$$ \left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$$

The real trick to a truth table is to iterate through every possible truth value.  I do that with for loops below.  

A more clever programmer could do this bitwise using python's bitwise `&|~` bitwise `and` `or` and `not`

In [ ]:
values = [True,False]
table = []

for r in values:
  for p in values:
    for q in values: 
      row =[]
      row.append(r)
      row.append(p)
      row.append(q)
      row.append(not(r))
      row.append(not(r) and p)
      row.append(q and p)
      row.append(implies(not(r) and p,q and p))
      table.append(row)

In [ ]:
import pandas as pd

df = pd.DataFrame(table,columns = ['r','p','q','$\lnot r$','$\lnot r \lor p$',r'$q\land p$',r'$\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$'] )
df

       r  ...  $\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$
0   True  ...                                               True
1   True  ...                                               True
2   True  ...                                               True
3   True  ...                                               True
4  False  ...                                               True
5  False  ...                                              False
6  False  ...                                               True
7  False  ...                                               True

[8 rows x 7 columns]

So I thought `pandas` would render my $\LaTeX$ code in the column names but it doesn't look like it is supported (maybe it is?).  I'll export this table then into the native language of Jupyter, `markdown`, and copy paste the table.

In [ ]:
print(df.to_markdown(index = False))

|   r |   p |   q |   $\lnot r$ |   $\lnot r \lor p$ |   $q\land p$ |   $\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$ |
|----:|----:|----:|------------:|-------------------:|-------------:|-------------------------------------------------------------------:|
|   1 |   1 |   1 |           0 |                  0 |            1 |                                                                  1 |
|   1 |   1 |   0 |           0 |                  0 |            0 |                                                                  1 |
|   1 |   0 |   1 |           0 |                  0 |            0 |                                                                  1 |
|   1 |   0 |   0 |           0 |                  0 |            0 |                                                                  1 |
|   0 |   1 |   1 |           1 |                  1 |            1 |                                                                  1 |
|   0 |   1 |   0 |           1 |                  1 |            0 |                                                                  0 |
|   0 |   0 |   1 |           1 |                  0 |            0 |                                                                  1 |
|   0 |   0 |   0 |           1 |                  0 |            0 |                                                                  1 |

|   r |   p |   q |   $\lnot r$ |   $\lnot r \lor p$ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;|   $q\land p$ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;|   $\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  |
|:----:|:----:|:----:|:------------:|:-------------------:|:-------------:|:-------------------------------------------------------------------:|
|   1 |   1 |   1 |           0 |                  0 |            1 |                                                                  1 |
|   1 |   1 |   0 |           0 |                  0 |            0 |                                                                  1 |
|   1 |   0 |   1 |           0 |                  0 |            0 |                                                                  1 |
|   1 |   0 |   0 |           0 |                  0 |            0 |                                                                  1 |
|   0 |   1 |   1 |           1 |                  1 |            1 |                                                                  1 |
|   0 |   1 |   0 |           1 |                  1 |            0 |                                                                  0 |
|   0 |   0 |   1 |           1 |                  0 |            0 |                                                                  1 |
|   0 |   0 |   0 |           1 |                  0 |            0 |                                                                  1 |

Copy paste was not enough, I had to manually change widths and alignment. 

Okay so I spent way too long making this look 'nice'.  I do not expect you to make a perfect table like mine but return something descriptive and it will be great!